
*{
    margin:0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* header part styles*/
header{
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.header-container{
    display: flex;
    text-align: end;
    justify-content:end;
    align-items:center;
    width: 100%;
    height: 100%;
}
.sub-container{
    padding-right: 200px;
    width: 40%;
}
.header-title{
    color: white;
    font-weight: 700;
    font-size: 65px;
}
.header-description{
    color: white;
    line-height: 25px;
    padding-left: 100px;
    margin: 24px 0px 30px 0px;
}
.contact-btn{
    padding: 10px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 6px;
}

/* primary style apply for all section */
section{
    margin: 170px 230px;
}

/* failures details section styles*/
.failures-details{
    display: flex;
    align-items: center;
    gap: 87px;

}
.list-item .tick-mark{
    color: red;
}
.failures-title{
    font-weight: 700;
    font-size: 40px;
    margin-top: 120px;
    padding-bottom: 16px;
}
.failures-description{
    color: #444343;
    text-align: justify;
}
.list-item li{
    color: #444343;
    list-style: none;
    padding-top: 15px;
}

/* My plans section styles */
.my-plans .card-area{
    justify-content: space-between;
    text-align: center;
    display: flex;
    gap: 70px;
    margin-top: 50px;
}
.my-plan-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.card{
    margin: 10px ;
}
.card .card-title{
    color: #151414;
    font-weight: 700;
    font-size: 20px;
    margin: 14px 0px;
}
.card .card-description{
    color: #737272;
    font-weight: 500;
    font-size: 18px;
}

/* contact for mindset section styles*/
.contact-for-mindset-bg{
    background-image: url('../images/watch.png'),linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 8px;
    background-blend-mode: overlay;
}
.contact-for-details{
    padding: 59px 0px 14px 64px;
}
.contact-for-details .contact-for-title{
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* footer area styles */
footer{
    display: flex;
    background-color: #151414;
    height: 450px;
}
.future-area .description-container{
    margin: 75px 230px;
    width: 40%;
    color: white;
}
.future-area .description{
    margin: 13px 0px;
    line-height: 23px;
}
.future-area .phone{
    margin: 13px 0px 25px 0px;
}
.future-area img{
    margin-right: 20px;
    width: 46px;
}
.future-area .future-title{
    color: white;
    font-size: 45px;
    font-weight: 700;
}

/* Subscribe area styles*/
.subscribe-area input[type="submit"]{
    background-color: #005FAC;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
}
.subscribe-area{
    margin: 85px 230px;
    width: 40%;
}
.subscribe-area .subscribe-title{
    color: white;
    font-weight:700 ;
}
.subscribe-area input[type="email"]{
    border: 2px solid gray;
    padding: 11px;
    margin: 20px 0px;
    border-radius: 8px;
    width: 300px;
    background-color:#151414;
}